# OS / editor
.DS_Store
.vscode/
.idea/
tempCodeRunnerFile.py

# Environment / secrets
.env
.envrc
.venv/
.venv-dbt/
.venv-ge/
env/
venv/
ENV/
env.bak/
venv.bak/

# Python cache / build
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
*.egg
.installed.cfg
MANIFEST

# Test / coverage / lint
.pytest_cache/
.hypothesis/
.coverage
.coverage.*
htmlcov/
.tox/
.nox/
.mypy_cache/
.pyre/
.pytype/
.ruff_cache/
.cache/
coverage.xml
nosetests.xml
*.cover
*.py,cover

# Jupyter / notebook
.ipynb_checkpoints/

# Logs
*.log
logs/
airflow/logs/

# Local runtime / storage artifacts
postgres/
spark-warehouse/
gx/
data_generator/output/

# Project-generated docs/build output
docs/_build/
site/
target/

# Optional local files
db.sqlite3
db.sqlite3-journal
instance/
.webassets-cache

airflow/.ivy2/
dbt/sentinelpay_dbt/metastore_db/
dbt/sentinelpay_dbt/profiles/.user.yml
src/quality/results/ai_rca_reports/